<header class="site-header">
    <div class="container">
        <a href="/" class="site-logo">
            <strong>RIT</strong> CLR
        </a>
        <nav class="site-nav">
            <ul>
                <li><a href="/topik/">Topik</a></li>
                <li><a href="/info/">Tentang</a></li>
                <li><a href="/kontribusi/">Kontribusi</a></li>
            </ul>
        </nav>
        </div>
</header>